#container {
  display: block;
  margin: 50px auto;
  padding: 15px;
  border: 2px solid #8fd9a8;
  border-radius: 5px;
  max-width: 500px;
  background-color: #8fd9a8;
}

#enter-city-name {
  margin-bottom: 10px;
}
#search-input {
  width: 100%;
  padding: 5px;
}
#submit-button {
  width: 100%;
}
#submit-button:hover {
  cursor: pointer;
  box-shadow: none;
}

#selected-city {
  font-size: 34px;
  font-weight: bolder;
  padding-left: 15px;
  padding-top: 25px;
}

#current-temp {
  font-size: 40px;
  padding-left: 15px;
  position: relative;
  top: 24px;
}

#local-time {
  padding-left: 20px;
}

#local-weather-description {
  padding-left: 20px;
  margin-bottom: 10px;
}

#humidity,
#humidity-value,
#sunrise,
#sunrise-time,
#wind,
#wind-speed,
#sunset,
#sunset-time {
  background-color: rgba(210, 230, 156, 0.4);
  border: transparent;
  border-radius: 2px;
  margin: 5px auto;
}

#celsius,
#fahrenheit {
  font-weight: bolder;
  text-decoration-line: none;
}

.active {
  color: black;
  cursor: default;
}

#units {
  position: relative;
  top: 7px;
  right: 4px;
}

footer {
  text-align: center;
  margin-top: -35px;
  margin-right: -220px;
}

footer a {
  text-decoration-line: none;
}
